# Dependencies
node_modules/
package-lock.json

# Production build
frontend/build/
backend/uploads/

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
*.tar.gz
frontend/build/
backend/node_modules/
frontend/node_modules/
